header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #3F497F;
}

header h1 {
  margin: 0;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
  font-weight: bold;
  margin-right: 50px;
}

nav a {
  color: #3F497F;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ECF2FF;
  color: #DF2E38;
}

.image-container {
  position: relative;
  height: 500px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-box {
  position: absolute;
  bottom: -200px;
  right: 0;
  left: 60%;
  transform: translateX(-70%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 400px;
}

.text-box h2 {
  margin: 0;
  font-size: 40px;
  color: #3F497F;
  text-align: left;
}

.text-box p {
  margin: 10px 0 0 0;
  font-size: 28 px;
  text-align: left;
}

.container-fluid {
  padding-top: 200px;
}

.colored-container {
  background-color: #3F497F;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

h3 {
  text-align: center;
  color: white;
  font-size: 50px;
}

.Our-Services p {
  font-size: 20px;
  color: white;
}

.Web-box {
  position: absolute;
  bottom: -890px;
  right: 0;
  left: 30%;
  transform: translateX(-70%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 400px;
}

.app-box {
  position: absolute;
  bottom: -890px;
  right: 0;
  left: 60%;
  transform: translateX(-70%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 400px;
}

.copy-box {
  position: absolute;
  bottom: -940px;
  right: 0;
  left: 90%;
  transform: translateX(-70%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 400px;
}

.container-third {
  padding-top: 300px;
}

.color-container {
  background-color: #0E8388;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.Choose-Us p {
  font-size: 20px;
  color: white;
}

#contact {
  background-color: #3F497F;
  padding: 50px 0;
}

#contact h2 {
  margin-top: 0;
  text-align: center;
  color: white;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#contact label {
  flex-basis: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

#contact input, #contact textarea {
  flex-basis: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#contact button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact button[type="submit"]:hover {
  background-color: #3e8e41;
}
.container-last {
    text-align: center;
    padding: 7% 15%;
  }


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
